.listItem {
  min-width: 280px;
  min-height: 300px;
  max-width: 280px;
  max-height: 300px;
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  background-color: black;
  display: flex;
  position: relative; /* Ensure the image title is correctly positioned */
}

.ImgTitle {
  z-index: 1000;
  position: absolute;
  color: white;
  bottom: 10%;
  left: 10px;
  width: 17rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow for readability */
  font-size: 1.5rem;
}

.listimg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  transition: transform 0.5s ease-in-out;
}

.listimg:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.videop, .videoimg {
  width: 100%;
}


.movieinfo {
  color: white;
}

.titlemov {
  font-size: 50px;
  margin: 1rem 0;
}

.desc {
  margin: 0.5rem;
}

.duration {
  color: rgb(87, 73, 73);
}

.rating {
  display: inline-flex;
  flex-direction: column;
}

.thumbs {
  font-size: 35px;
  padding: 0px 5px;
  margin-top: 2px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.white {
  color: white;
}

.video-fullscreen {
  width: 100% !important;
  height: 100% !important;
}

/* Responsive adjustments */

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 1024px) {
  .listItem {
    min-width: 220px;
    max-width: 220px;
    min-height: 250px;
    max-height: 250px;
  }

  .ImgTitle {
    font-size: 1.2rem;
    bottom: 15%;
    left: 8px;
  }

  .titlemov {
    font-size: 40px;
  }

  .thumbs {
    font-size: 30px;
  }
}

/* Small devices (phones, 600px and up) */
@media screen and (max-width: 768px) {
  .listItem {
    min-width: 180px;
    max-width: 180px;
    min-height: 200px;
    max-height: 200px;
  }

  .ImgTitle {
    font-size: 1rem;
    bottom: 20%;
    left: 5px;
  }

  .titlemov {
    font-size: 35px;
  }

  .videop, .videoimg {
    height: 20rem;
    margin-top: 3rem;
  }

  .thumbs {
    font-size: 25px;
  }
}

/* Extra small devices (phones, less than 600px) */
@media screen and (max-width: 576px) {
  .listItem {
    min-width: 150px;
    max-width: 150px;
    min-height: 180px;
    max-height: 180px;
    margin-right: 2px;
  }

  .ImgTitle {
    font-size: 0.9rem;
    bottom: 25%;
    left: 5px;
  }

  .titlemov {
    font-size: 30px;
  }

  .mymodal{
  width: 90%;
  }
  

  .videop, .videoimg {
    height: 15rem;
    margin-top: 2.5rem;
  }

  .thumbs {
    font-size: 20px;
  }
}
