/* Container styling */
.upload-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f8f9fa;
}

@media screen and (max-width: 768px) {
  .upload-page {
    margin: 20px;
    padding: 15px;
  }
}

/* Heading styling */
.upload-title {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .upload-title {
    font-size: 1.25rem;
  }
}

/* File input styling */
.upload-input {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Paragraph styling */
.para {
  color: black;
  margin-bottom: 20px;
}

.left-btn, .right-btn {
  text-decoration: none;
  color: white;
  font-size: large;
  padding: 10px;
  background-color: red;
  border-radius: 5px;
  margin: 1rem;
}

.left-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.right-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Button styling */
.upload-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #902929;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: auto;
  transition: background-color 0.3s ease;
  width: 100%; /* Make button full width on small screens */
  box-sizing: border-box;
}

.upload-label {
  color: black;
  display: block;
  margin: 0.5rem;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .upload-button {
    padding: 10px 15px;
  }
}

/* Disabled button styling */
.upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Button hover effect */
.upload-button:hover:enabled {
  background-color: #ff0000;
}

/* Error message styling */
.upload-error {
  color: red;
  margin-top: 20px;
}

.vlabel, .ilabel {
  color: black;
}

.margin {
  margin: 0rem 0.5rem;
}

/* Responsive adjustments */
@media screen and (max-width: 576px) {
  .upload-page {
    max-width: 90%;
    margin-top: 81px !important;
  }

  .upload-title {
    font-size: 1.2rem;
  }

  .upload-button {
    font-size: 0.9rem;
  }

  .left-btn, .right-btn {
    font-size: medium;
    padding: 8px;
    margin: 0.5rem;
  }

  .left-btn {
    top: 5px;
    left: 5px;
  }

  .right-btn {
    top: 5px;
    right: 5px;
  }
}
